.main{
    padding-top: 25%;
}
.relative__box {
    margin-top: -5%;
    width: 70%;
    height: 200px;
    background: #00277E;
}
.absolute__img {
    margin-top: -28%;
    margin-left: 50%;
}
.header {
    padding: 10px;
}
p{
    font-size: 75px;
    padding-top: 50px;
}
.header_ttl {
    display: block;
    margin-top: 20px ;
    margin-left: 20px;
    width: 300px;
    font-size: 25px;
    color: blue;
    font-weight: bolder;
}
.flex {
    display: flex;
    justify-content: flex-end;
}
.box{
    margin-right: 20px;
    color: blue;
    font-weight: bolder;
}